<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trustlyapps.drinkgame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkGame" >
        <activity
            android:name=".Reglas"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".PopUpWindow"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".diezSeg.ReglasDiezSegs"
            android:exported="false"
            android:parentActivityName=".diezSeg.DiezSeg" />
        <activity
            android:name=".diezSeg.DiezSeg"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".quienEsMas.ReglasQuienEsMas"
            android:exported="false"
            android:parentActivityName=".quienEsMas.QuienEsMas" />
        <activity
            android:name=".quienEsMas.QuienEsMas"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".yoNunca.ReglasYoNunca"
            android:exported="true"
            android:parentActivityName=".yoNunca.YoNunca" />
        <activity
            android:name=".yoNunca.YoNunca"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>